body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.input-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    width: 70%;
}

button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #007bff;
    border-radius: 0 5px 5px 0;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card img {
    border-radius: 50%;
    margin-right: 20px;
}

.card .info {
    flex: 1;
}

.card .info h2 {
    margin: 0 0 10px 0;
    color: #007bff;
}

.card .info p {
    margin: 0;
    color: #555;
}

.games-list {
    display: none;
    margin-top: 10px;
}

.games-list li {
    list-style: none;
    margin-bottom: 5px;
}

.games-list li a {
    text-decoration: none;
    color: #007bff;
}

.games-list li a:hover {
    text-decoration: underline;
}

.show-games {
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
}

.game-info {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.game-header {
    font-weight: bold;
}

.progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    margin: 20px 0;
    overflow: hidden;
    display: none;
}

.progress-bar-fill {
    height: 20px;
    width: 0;
    background-color: #007bff;
    transition: width 0.5s;
}

.progress-text {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
}

.toggle-button {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: #f4f4f9;
    color: #333;
    margin-right: 10px;
    cursor: pointer;
    text-align: center;
}

.toggle-button input[type="radio"] {
    display: none;
}

.toggle-button:hover {
    background-color: #007bff;
    color: #fff;
}

.toggle-button.active {
    background-color: #007bff;
    color: #fff;
}
